---
import Badge from "../components/Badge.astro";
import Section from "../components/Section.astro";
import SocialBadge from "../components/SocialBadge.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Layout from "../layouts/Layout.astro";
import { EXPERIENCE, type iExperience } from "../data/ExperienceData.astro";
import ExperienceComponent from "../components/Experience.astro";
import { PROYECTS, type Proyect } from "../data/ProjectsData.astro";
import ProyectsComponent from "../components/Projects.astro";
import LetterX from "../components/icons/LetterX.astro";
import ArrowRight from "../components/icons/ArrowRight.astro";

const AVAILABLEFORWORK = false;

const EXPERIENCEDATA = EXPERIENCE.slice(0, 3);
---

<Layout
  title="Protafolio Jonathan"
  description="Portafolio personal de jonathan hecho con astro, html, css, tailwind y con mucho amor"
>
  <main
    class="container max-w-4xl flex-1 px-8"
  >
  <div class="grid items-center gap-14 py-4 md:py-4">

  
    <Section id="profile" className="flex-col gap-5">
      <div class="flex flex-col gap-5">
        <img
          src="https://gravatar.com/userimage/210087464/99388c5f16609b9133a0b7f186de7e1a.jpeg?size=256"
          class="rounded-full h-20 w-20 object-cover object-center"
          width="50"
          height="50"
          alt="profile image"
        />
  
        <h1
          class="name-title text-gray-900 text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 m-0 p-0"
        >
          Hey, soy Jonathan <a
            href="https://www.linkedin.com/in/jonathan-moya-moreno/"
            target="_blank"
            rel="noopener"
            class="flex mt-[.3em] items-center"
          >
            <Badge className={!AVAILABLEFORWORK ? "bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-0.5 rounded-full border border-blue-400" : "bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-full border border-green-400"}>{AVAILABLEFORWORK ? "Disponible para trabajar" : "Trabajando actualmente"}</Badge>
          </a>
        </h1>
  
        <div class="flex flex-col gap-4">
          <p class="text-balance">
            Experto en desarrollo web con más de <span class="font-extrabold text-xl text-purple-400">+</span>5 años de experiencia. Titulado en
            Formación Profesional de Grado superior en Desarrollo de Aplicaciones
            Web (DAW). Desarrollador web Full Stack en .NET 6 y Angular.
            <span class="flex"
              >De Madrid, España <LetterX
                class="text-purple-500 text-2xl"
              /> Teletrabajo</span
            >
          </p>
    
          <div class="flex flex-column gap-3">
            <SocialBadge
              href="https://www.linkedin.com/in/jonathan-moya-moreno/"
              target="_blank"
              rel="noopener"
            >
              <LinkedinIcon width="16" height="16" /> LinkedIn
            </SocialBadge>
            <SocialBadge
              href="https://github.com/srgrover/"
              target="_blank"
              rel="noopener"
            >
              <GithubIcon height="16" width="16" /> GitHub
            </SocialBadge>
            <SocialBadge
              href="mailto:dev.jonathan.moya@gmail.com"
              target="_blank"
              rel="noopener"
            >
              <MailIcon width="16" height="16" /> dev.jonathan.moya@gmail.com
            </SocialBadge>
          </div>
        </div>
      </div>
    </Section>

    <Section id="experience">
      <div class="flex w-full items-center justify-between">
        <h2 class="text-xl font-medium">Experiencia</h2>
      </div>
      <ol
        class="relative space-y-6 border-s-2 border-neutral-300"
      >
        {
          EXPERIENCEDATA.map((job: iExperience) => (
            <li class="mb-10 ms-4">
              <ExperienceComponent
                title={job.title}
                description={job.description}
                initDate={job.initDate}
                organization={job.organization}
                endDate={job.endDate}
                link={job.link}
                actuall={job.actuall}
              />
            </li>
          ))
        }

        {
          (EXPERIENCEDATA.length < EXPERIENCE.length) && 
          (
          <li class="mb-10 ms-4">
            <ExperienceComponent
                organization="Ver más",
                link="/ExperiencePage"
                tarjet="_self"
              />
          </li>)
        }                
      </ol>
    </Section>

    <Section id="projects" class:list={'w-full'}>
      <div class="flex w-full items-center justify-between">
        <h2 class="text-xl font-medium">Proyectos</h2>
        <a
          href="/projects"
          class="group flex items-center space-x-2 text-sm font-medium text-neutral-500 hover:text-black"
          ><span>Ver mas</span>
          <ArrowRight width="14" height="14" /></a
        >
      </div>

      <div class="grid grid-cols-1 gap-3 md:grid-cols-2">
        {
          PROYECTS.map((proyect: Proyect) => (
            <ProyectsComponent
              title={proyect.title}
              description={proyect.description}
              mainCode={proyect.mainCode}
              mainCodeUrl={proyect.mainCodeUrl}
              url={proyect.url}
              repo={proyect.repo}
              tags={proyect.tags}
            />
          ))
        }
      </div>
    </Section>
  </div>
  </main>
</Layout>

<style>
  @media (max-width: 560px) {
    h1.name-title {
      flex-direction: column !important;

    }
  }
</style>