---
const { title, description, organization, initDate, endDate, link, actuall, tarjet = "_blank" } = Astro.props;

function formatDate(date: Date): string {
    const options: Intl.DateTimeFormatOptions = {
        year: "numeric",
        month: "long",
    };
    return date.toLocaleDateString("es-ES", options);
}
---

<div
    class="absolute -start-[6.5px] mt-2 h-3 w-3 rounded-full border border-neutral-400 bg-neutral-200"
>
</div>
<time
    class="mb-2 capitalize font-mono text-xs font-normal leading-none text-neutral-600"
    >
    {(initDate !== undefined) ? `${formatDate(initDate)} - ` : ''} 
    {(actuall) ? "Actualmente" : (endDate !== undefined) ? formatDate(endDate) : ''}
</time>
<div class="mt-2 flex flex-col space-y-0.5">
    <h3 class="text-lg font-semibold tracking-tight text-gray-900">
        {title}
    </h3>
    <a
        href={link}
        target={tarjet}
        rel="noopener"
        class="group flex w-max items-center text-pretty text-sm text-neutral-600 transition-colors duration-150 hover:text-black decoration-neutral-500 decoration-dotted underline-offset-[5px] hover:underline"
        ><span>{organization}</span>
        <svg
            width="12"
            height="12"
            stroke="currentColor"
            stroke-width="1.5"
            class="lucide-icon lucide lucide-arrow-up-right ml-1 duration-150"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
        ></a>
</div>
<p class="mt-3 text-pretty text-sm">{description}</p>
